<div class="cont-alt">
  <div class="well well-lg">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Names</h3>
      </div>
      <div class="panel-body">
        <%= @user['names'] %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Last Names</h3>
      </div>
      <div class="panel-body">
        <%= @user['last_names'] %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Ocupation</h3>
      </div>
      <div class="panel-body">
        <%= @user['ocupation'] %>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Birth Year</h3>
      </div>
      <div class="panel-body">
        <%= @user['birth_year'] %>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Email</h3>
      </div>
      <div class="panel-body">
        <%= @user['email'] %>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">State</h3>
      </div>
      <div class="panel-body">
        <%= @user['state'] %>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">City</h3>
      </div>
      <div class="panel-body">
        <%= @user['city'] %>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Address</h3>
      </div>
      <div class="panel-body">
        <%= @user['address'] %>
      </div>
    </div>
  </div>

</div>

